.ratio{
    width: 100%;
    padding-bottom: 80%;
    position: relative;
}
.ratio > .ratio_content{
    position: absolute;
    width: 100%;
    height: 100%;
}
.ratio_16_9{
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
.ratio_16_9 > .ratio_content{
    position: absolute;
    width: 100%;
    height: 100%;
}
.ratio_videolist{
    width: 100%;
    padding-bottom: 112.5%;
    position: relative;
}
.ratio_videolist > .ratio_content{
    position: absolute;
    width: 100%;
    height: 100%;
}
